.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4%;
}

.title {
  font-size: 4rem;
  margin-right: 1rem;
  font-weight: 700;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f1ec;
  padding: 4rem;
  border-radius: 12px;
  border: 5px solid #543434;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boxTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  margin-bottom: 2rem;
}

.descriptionRules {
  font-size: 1.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: initial;
  justify-content: center;
  margin-bottom: 2rem;
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f1ec;
  padding: 4rem;
  border-radius: 12px;
  border: 5px solid #543434;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagem {
  width: 10rem;
  height: 10rem;
}

@media (min-width: 340px) and (max-width: 1290px) {
  .container {
    margin: 5% 10% 0 10%;
  }

  .box {
    padding: 2rem;
  }

  .boxtitle {
    flex-direction: column;
  }

  .title {
    font-size: 2rem;
  }

  .rules {
    padding: 2rem;
  }

  .descriptionRules {
    font-size: 18px;
    line-height: 25px;
  }
}
