* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  background-color: #f0f0f0;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

button {
  background-color: #f94668;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #543434;
}
